/node_modules
/public/www-c2dl/hot
/public/www-c2dl/storage
/public/www-c2dl/mix-manifest.json
/public/www-c2dl/css
/public/www-c2dl/fonts
/public/www-c2dl/images
/public/www-c2dl/media
/public/www-c2dl/admin
/public/www-c2dl/js
/resources/views/svgdata/ext
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
