 <div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <h2>ac2pic</h2>
    <h3>ac2pic is one of the nice admins on the modding Discord.</h3>
    <h3>AC is currently creating a handy mod installer for CrossCode over at <a href="https://github.com/CCDirectLink/CCInjector">GitHub</a></h3>
    <h3>There will be a documentation on the News page on how to install it when it's done.</h3>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
