 <div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col">

    <h2>2767mr<h2>
    <h3>2767mr is one of the nice admins on the modding Discord.</h3>
    <h3>He is the lead developer of several mods such as:</h3>
    <ul>
      <li>CCLoader</li>
      <li>CCTimer</li>
      <li>multiplayer</li>
      <li>and more...</li>
    </ul>
    <h3>When I started the project, he was happy to help out, and I'm grateful of his help.</h3>

  </div>
  <div class="mdl-layout-spacer"></div>
</div>
