<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <div class="mdl-color--white content mdl-color-text--grey-800">
      <h2>Contributing.</h2>
      <h3>Hello all! I wanted to inform you all about contributing.</h3>
      <h3>If you are interested in contributing to the project, you can fork the source over at <a href="https://github.com/CCDirectLink/c2dl-web">GitHub</a></h3>
      <h3>After making the desired changes, you can make a pull request.</h3>
      <h3>I will then review your pull request, and see if I'll merge it with master.</h3>
      <h3>I think that's about it!</h3>
      <h3>Thanks for reading!</h3>
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
