 <div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--8-col">
    <div class="mdl-color--white content mdl-color-text--grey-800">
      <h1>Welcome</h1>
      <h3>Welcome to the CrossCode Modding News page! Here we will post updates on what we have changed or added.</h3>
      <h3>If you want to know more about this, or are interested in modding, feel free to join our <a href="https://discord.gg/TFs6n5v">Discord</a>.</h3>
      <h3>This site started as a small project, but quickly gained attention and help.</h3>
      <h3>This site is meant to make it easier to download mods. I hope it's useful!</h3>
      <h3>Check back at the News page regularly for more news about the project!</h3>

    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
