RewriteEngine on

RewriteCond %{HTTP_USER_AGENT} (Twitterbot|Discordbot|Facebot|facebookexternalhit) [NC]
RewriteCond %{REQUEST_URI} ^/cc/bye$ [OR]
RewriteCond %{REQUEST_URI} ^/cc/yt-bye$
RewriteRule .* - [R=403,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?id=$1 [QSA,L]
