.c2dl-header {
    background: var(--header-background);
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-areas: 'hamburger-trigger menu-bar';
    color: var(--header-foreground);
    min-height: min-content;
    width: 100%;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: var(--header-shadow);
    z-index: 30;
}

.c2dl-menu-entry-list {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
}

.c2dl-menu-bar {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    grid-area: menu-bar;
}

.c2dl-menu-bar-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.c2dl-menu-bar-logo {
    max-width: 10em;
    max-height: 10em;
    width: 6em;
    height: 6em;
    padding: 0.5em 0.5em 0 1em;
    transition: width 0.4s;
}

.c2dl-menu-bar-text {
    display: flex;
    flex-direction: column;
}

.c2dl-menu-bar-title {
    font-size: 20pt;
    line-height: 26px;
}

.c2dl-menu-bar-info {
    font-size: 12pt;
    line-height: 16px;
    font-style: italic;
}

.c2dl-menu-bar-nav {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    grid-area: menu-bar-nav;
    width: 100%;
    height: min-content;
}

.c2dl-menu-bar-nav .c2dl-menu-entry-list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    width: min-content;
}

.c2dl-menu-entry {
    list-style-type: none;
}

.c2dl-menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    text-decoration: none;
}

.c2dl-menu-bar-nav .c2dl-menu-entry {
    padding: 0;
    margin: 0;
}

.c2dl-menu-bar-nav .c2dl-menu-link {
    display: block;
    color: var(--header-link);
    padding: 0.5em 1.5em 0.5em 1.5em;
    transition: color 0.4s, padding 0.4s, background 0.4s;
}

.c2dl-menu-bar-nav .c2dl-menu-link:hover {
    color: var(--header-hover-foreground);
    background: var(--header-hover-background);
    text-decoration: none;
    border: none;
    border-radius: 2px;
}

.c2dl-menu-bar-nav .c2dl-menu-link:focus {
    color: var(--header-hover-foreground);
    background: var(--header-hover-background);
    text-decoration: none;
    border: none;
    border-radius: 2px;
}

/*
breakpoints
*/

@media screen and (max-width: 1024px) {
    .c2dl-menu-bar-nav .c2dl-menu-link {
        padding: 0.5em 1em 0.5em 1em;
    }
}

@media screen and (max-width: 680px) {
    .c2dl-menu-bar-nav {
        display: none;
    }

    .c2dl-menu-bar-logo {
        width: 3em;
        height: 3em;
    }
}

@media screen and (max-width: 420px) {
    .c2dl-menu-bar-info {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .c2dl-menu-bar-text {
        display: none;
    }
}

/*
animation
*/

@media (prefers-reduced-motion: reduce) {
    .c2dl-menu-bar-nav .c2dl-menu-link {
        transition: none;
    }

    .c2dl-menu-drawer {
        transition: none;
    }

    .c2dl-menu-bar-logo {
        transition: none;
    }
}
