:root {
    --color-background: #2a2a2e;
    --color-text: #ffffff;
    
    --color-background-header: #242424;
    --color-background-footer: #242424;
    
    --color-border-main: #4b4b4b;
    --color-border-footer: #4b4b4b;
    
    --color-link: #2282c8;
    --color-link-visited: #a671e0;
}
