/*
* Copyright 2016 The Merriweather Project Authors (https://github.com/EbenSorkin/Merriweather)
* License: https://c2dl.info/res/style/font/merriweather/.OFL.txt
* Authors: https://c2dl.info/res/style/font/merriweather/.AUTHORS.txt
* Contributors: https://c2dl.info/res/style/font/merriweather/.CONTRIBUTORS.txt
* Trademarks: https://c2dl.info/res/style/font/merriweather/.TRADEMARKS.txt
*/

/* Regular */
@font-face {
    font-family: 'Merriweather';
    font-weight: normal;
    font-style: normal;
    src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://c2dl.info/res/style/font/merriweather/v2-002/regular.otf) format('opentype');
}
/* Light Italic */
@font-face {
    font-family: 'Merriweather';
    font-weight: normal;
    font-style: italic;
    src: local('Merriweather LightItalic'), local('Merriweather-LightItalic'), url(https://c2dl.info/res/style/font/merriweather/v2-002/italic.otf) format('opentype');
}
/* Bold */
@font-face {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: normal;
    src: local('Merriweather Bold'), local('Merriweather-Bold'), url(https://c2dl.info/res/style/font/merriweather/v2-002/bold.otf) format('opentype');
}
/* Bold Italic */
@font-face {
    font-family: 'Merriweather';
    font-weight: bold;
    font-style: italic;
    src: local('Merriweather BoldItalic'), local('Merriweather-BoldItalic'), url(https://c2dl.info/res/style/font/merriweather/v2-002/boldItalic.otf) format('opentype');
}
/* Light */
@font-face {
    font-family: 'Merriweather';
    font-weight: 200;
    font-style: normal;
    src: local('Merriweather Light'), local('Merriweather-Light'), url(https://c2dl.info/res/style/font/merriweather/v2-002/light.otf) format('opentype');
}
/* Light Italic */
@font-face {
    font-family: 'Merriweather';
    font-weight: 200;
    font-style: italic;
    src: local('Merriweather LightItalic'), local('Merriweather-LightItalic'), url(https://c2dl.info/res/style/font/merriweather/v2-002/lightItalic.otf) format('opentype');
}
/* Black */
@font-face {
    font-family: 'Merriweather';
    font-weight: 800;
    font-style: normal;
    src: local('Merriweather Black'), local('Merriweather-Black'), url(https://c2dl.info/res/style/font/merriweather/v2-002/black.otf) format('opentype');
}
/* Black Italic */
@font-face {
    font-family: 'Merriweather';
    font-weight: 800;
    font-style: italic;
    src: local('Merriweather BlackItalic'), local('Merriweather-BlackItalic'), url(https://c2dl.info/res/style/font/merriweather/v2-002/blackItalic.otf) format('opentype');
}
