<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title></title>

		<meta charset="utf-8"/>

		<meta name="robots" content="noindex, nofollow, noarchive"/>
		<meta name="referrer" content="never"/>
		<meta name="referrer" content="no-referrer"/>

		<!--<link rel="stylesheet" type="text/css" name="font"
			  href="/res/style/font/font.css" media="all" id="font-css"/>-->
		<link rel="stylesheet" type="text/css" name="base"
			  href="/res/style/base.css" media="all" id="base-css"/>
	</head>
	<body>
		<article class="pageContainer" id="page">
			<header class="headerContainer" id="header">
				<span class="titleContainer" id="titleContainer">
					<span class="titleString" id="title">CCDirectLink</span>
				</span>
			</header>
			<main class="contentContainer" id="content">
			</main>
			<footer class="footerContainer" id="footer">
				<span class="footerElements" id="footerElements">
					<span class="footerPage" id="footerPage">c2dl.info</span>
					<span class="seperator" id="footerSeperator">–</span>
					<span class="footerDescription" id="footerDescription">CCDirectLink</span>
				</span>
			</footer>
		</article>
	</body>
</html>
