<!DOCTYPE html>
<html lang="en">
	<head id="head">
		<title></title>

		<meta charset="utf-8"/>

		<meta name="robots" content="noindex, nofollow, noarchive"/>
		<meta name="referrer" content="never"/>
		<meta name="referrer" content="no-referrer"/>

		<link rel="stylesheet" type="text/css" name="base"
			  href="/res/style/base.css" media="all" id="base-css"/>
	</head>
	<body>
		<article class="pageContainer" id="page">
			<header-bar></header-bar>
			<main class="contentContainer" id="content">
			</main>
			<footer-bar></footer-bar>
		</article>
	</body>
</html>
