<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title></title>

		<meta charset="utf-8"/>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex, nofollow, noarchive"/>
		<meta name="referrer" content="never"/>
		<meta name="referrer" content="no-referrer"/>

		<link rel="stylesheet" type="text/css" href="/res/style/bootstrap.min.css" media="all" id="bootstrap-css">
		<link rel="stylesheet" type="text/css" href="/res/style/font/roboto.css" media="all" id="font-roboto-css">
		<link rel="stylesheet" type="text/css" href="/res/style/fontawesome.min.css" media="all" id="fa-css">
		<link rel="stylesheet" type="text/css" href="/res/style/brands.min.css" media="all" id="brands-css">
		<link rel="stylesheet" type="text/css" href="/res/style/Material_Icons.css" media="all" id="material-css">
		<link rel="stylesheet" type="text/css" href="/res/style/material.indigo-pink.min.css" media="all" id="material-ip-css">
		<script defer src="/res/js/bootstrap.min.js"></script>
		<script defer src="/res/js/material.min.js"></script>

	</head>
	<body>
		<article class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
			<header-bar></header-bar>
			<main class="mdl-layout__content">
			</main>
			<footer-bar></footer-bar>
		</article>
	</body>
</html>
