<div class="mdl-grid">
<span class="logintext">Login<span>
  <br>
  <br>
  <br>
<a href="/cc/login" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
  <i class="fab fa-google"></i>
  Log in with Google
</a>

<a href="/cc/login" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
  <i class="fab fa-github"></i>
  Log in with GitHub
</a>

<a href="/cc/login" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
  <i class="fab fa-gitlab"></i>
  Log in with GitLab
</a>

<a href="/cc/login" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
  <i class="fab fa-facebook"></i>
  Log in with Facebook
</a>
</div>
