<div class="mdl-grid">
	<div class="mdl-layout-spacer"></div>
	<div class="mdl-cell mdl-cell--9-col">
		<!-- Square card -->
		<div class="mdl-card mdl-shadow--2dp demo-card-square">
			<div class="mdl-card__title mdl-card__keanu mdl-card--expand">
				<h2 class="mdl-card__title-text">Keanu</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Hi, my name is Keanu. I am the founder of this project, and I love creating websites...
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a href="/cc/team?p=keanu" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
					Read More
				</a>
			</div>
		</div>
		<!-- Square card -->
		<div class="mdl-card mdl-shadow--2dp demo-card-square">
			<div class="mdl-card__title mdl-card__2767 mdl-card--expand">
				<h2 class="mdl-card__title-text">2767mr</h2>
			</div>
			<div class="mdl-card__supporting-text">
				2767mr is one of the admins on the modding Discord...
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a href="/cc/team?p=mr" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
					Read More
				</a>
			</div>
		</div>
		<!-- Square card -->
		<div class="mdl-card mdl-shadow--2dp demo-card-square">
			<div class="mdl-card__title mdl-card__ac2pic mdl-card--expand">
				<h2 class="mdl-card__title-text">ac2pic</h2>
			</div>
			<div class="mdl-card__supporting-text">
				ac2pic is one of the admins on the modding Discord...
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a href="/cc/team?p=ac" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
					Read More
				</a>
			</div>
		</div>
		<!-- Square card -->
		<div class="mdl-card mdl-shadow--2dp demo-card-square">
			<div class="mdl-card__title mdl-card__ichiki mdl-card--expand">
				<h2 class="mdl-card__title-text">Ichiki</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Ichiki is the proofreader of the site...
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a href="/cc/team?p=ichi" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
					Read More
				</a>
			</div>
		</div>
		<!-- Square card -->
		<div class="mdl-card mdl-shadow--2dp demo-card-square">
			<div class="mdl-card__title mdl-card__streetclaw mdl-card--expand">
				<h2 class="mdl-card__title-text">Streetclaw</h2>
			</div>
			<div class="mdl-card__supporting-text">
				Streetclaw is the hoster of the site...
			</div>
			<div class="mdl-card__actions mdl-card--border">
				<a href="/cc/team?p=streetclaw" class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect">
					Read More
				</a>
			</div>
		</div>

	</div>
	<div class="mdl-layout-spacer"></div>
</div>
