.c2dl-aboutpage-content {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.c2dl-aboutpage-main {
    width: 70%;
    min-width: 380px;
    max-width: 1000px;
    margin: 8px;
}

.c2dl-aboutpage-section {
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 839px) {
    .c2dl-aboutpage-main {
        min-width: 310px;
        width: 100%;
        margin: 8px;
    }
}
