<header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">CCDirectLink</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/cc/">Home</a>
            <a class="mdl-navigation__link" href="/cc/mods">Mods</a>
            <a class="mdl-navigation__link" href="/cc/news">News</a>
            <a class="mdl-navigation__link" href="/cc/team">Team</a>
            <a class="mdl-navigation__link" href="/cc/discord">Discord</a>
        </nav>
    </div>
</header>
<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">CCDirectLink</span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/cc/">Home</a>
        <a class="mdl-navigation__link" href="/cc/mods">Mods</a>
        <a class="mdl-navigation__link" href="/cc/news">News</a>
        <a class="mdl-navigation__link" href="/cc/team">Team</a>
        <a class="mdl-navigation__link" href="/cc/discord">Discord</a>
    </nav>
</div>
