<ul class="modEntryList">
    <li class="modEntry"><span class="modInfo">
        <span class="modHead">
            <span class="modTitle" data-bind:text="title"></span> –
            <span class="modVersion" data-bind:text="version"></span>
        </span>
        <span class="modDescription" data-bind:text="description"></span>
        <span class="downloadContainer">
            <a class="linkElement" data-bind:href="href" rel="noopener" target="_blank">Download</a>
            <a class="linkElement" data-bind:href="page_GitHub" rel="noopener" target="_blank">Github</a>
        </span></span></li>
</ul>
