<ul class="mdl-list" id="mod-list">
    <li class="mdl-list__item mdl-list__item--two-line">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-icon">chevron_right</i>
            <span class="name"><span class="modTitle" data-bind:text="title"></span> – <span class="modVersion" data-bind:text="version"></span></span>
            <span class="mdl-list__item-sub-title" data-bind:text="description"></span>
          </span>
        <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action github" data-bind:href="page_GitHub" rel="noopener" target="_blank" title="Github"><i class="fab fa-github"></i></a>
          </span>
        <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action download" data-bind:href="download" rel="noopener" target="_blank" title="Download"><i class="material-icons">get_app</i></a>
          </span>
    </li>
</ul>
