:root {
    --debug-background: rgba(230, 155, 165, 1.0);

    --base-color: rgba(25, 25, 25, 1.0);
    --base-background: rgba(255, 255, 255, 1.0);

    --base-link-foreground: rgba(40, 55, 80, 1.0);

    --base-link-hover-background: rgba(40, 55, 80, 1.0);
    --base-link-hover-foreground: rgba(255, 255, 255, 1.0);

    --selection-background: rgba(125, 185, 215, 0.5);

    --header-foreground: rgba(25, 25, 25, 1.0);

    --header-link: rgba(40, 55, 80, 1.0);
    --header-hover-foreground: rgba(195, 220, 250, 1.0);
    --header-hover-background: rgba(40, 55, 80, 1.0);

    --header-foreground-hamburger: rgba(40, 55, 80, 1.0);
    --header-hover-hamburger-foreground: rgba(125, 185, 215, 1.0);
    --header-hover-hamburger-background: rgba(40, 55, 80, 0.6);

    --header-background-a: rgba(195, 220, 250, 1.0);
    --header-background-b: rgba(180, 215, 250, 1.0);
    --header-background-40: rgba(180, 215, 250, 0.7);
    --header-background-60: rgba(180, 215, 250, 1.0);

    --header-background: linear-gradient(to right, transparent,
        var(--header-background-40) 40%, var(--header-background-60) 60%) no-repeat left,
    url('/images/bg/cc-lea.png') no-repeat left 19.5em top 0.4em,
    url('/images/bg/cc-sergey.png') no-repeat left 25em top -4em,
    url('/images/bg/circuit_pattern_light.svg') repeat left,
    linear-gradient(var(--header-background-a), var(--header-background-b)) no-repeat left;

    --header-shadow: 0 2px 2px 0
    rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0
    rgba(0, 0, 0, 0.12);


    --drawer-foreground: rgba(25, 25, 25, 1.0);
    --drawer-background-a: rgba(180, 215, 250, 1.0);
    --drawer-background-b: rgba(195, 220, 250, 1.0);
    --drawer-separator: rgba(25, 25, 25, 0.6);

    --drawer-link: rgba(40, 55, 80, 1.0);

    --drawer-hover-foreground: rgba(195, 220, 250, 1.0);
    --drawer-hover-background: rgba(40, 55, 80, 0.7);

    --drawer-background: url('/images/bg/circuit_pattern_light.svg') repeat left,
        linear-gradient(var(--drawer-background-a), var(--drawer-background-b)) no-repeat left;


    --newscard-background: rgba(255, 255, 255, 1.0);
    --newscard-shadow: 0 2px 2px 0
    rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0
    rgba(0, 0, 0, 0.12);

    --newscard-hover-shadow: 0 8px 10px 1px
    rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px
    rgba(0, 0, 0, .2);

    --newscard-title: rgba(25, 25, 25, 1.0);
    --newscard-info: rgba(25, 25, 25, 0.6);
    --newscard-text: rgba(25, 25, 25, 0.6);
    --newscard-separator: rgba(25, 25, 25, 0.2);


    --teamcard-background: rgba(255, 255, 255, 1.0);
    --teamcard-shadow: 0 2px 2px 0
    rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0
    rgba(0, 0, 0, 0.12);

    --teamcard-hover-shadow: 0 8px 10px 1px
    rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px
    rgba(0, 0, 0, .2);

    --teamcard-title: rgba(25, 25, 25, 1.0);
    --teamcard-text: rgba(25, 25, 25, 0.6);
    --teamcard-separator: rgba(25, 25, 25, 0.2);


    --nav-hover-foreground: rgba(255, 255, 255, 1.0);
    --nav-hover-background: rgba(40, 55, 80, 1.0);

    --nav-foreground: rgb(40, 55, 80);

    --nav-current-foreground: rgba(25, 25, 25, 1.0);
    --nav-current-background: none;
    --nav-current-border: rgba(25, 25, 25, 0.2);

    --news-separator: rgba(25, 25, 25, 0.2);
    --dataentry-separator: rgba(25, 25, 25, 0.2);


    --social-background: rgba(255, 255, 255, 1.0);
    --social-shadow: 0 2px 2px 0
    rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0
    rgba(0, 0, 0, 0.12);

    --social-nav-foreground: rgba(40, 55, 80, 1.0);

    --linkbutton-hover-background: rgba(40, 55, 80, 1.0);
    --social-hover-foreground: rgba(255, 255, 255, 1.0);

    --social-subtext: rgba(25, 25, 25, 0.6);

    --social-github-color: rgba(25, 25, 25);

    --c2dl-chevron-color: rgb(25, 25, 25);


    --entrylist-foreground: rgba(25, 25, 25, 1.0);
    --entrylist-description-foreground: rgba(25, 25, 25, 0.6);


    --scrollbar-track: rgba(255, 255, 255, 1.0);
    --scrollbar-thumb: rgba(25, 25, 25, 0.6);
}
