/*
chevron-right
*/

.c2dl-chevron-right {
    font-family: 'c2dl-iconic' !important;
    font-size:16px;
    width: 12.5px;
    height: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 1em;
    color: var(--c2dl-chevron-color);
}

.c2dl-chevron-right:before {
    content: "\ea00";
}

/*
homepage-icon
*/

.c2dl-homepage-icon {
    font-family: 'c2dl-iconic' !important;
    font-size:20px;
}

.c2dl-homepage-icon:before {
    content: "\ea05";
}
/*
download-icon
*/

.c2dl-download-icon {
    font-family: 'c2dl-iconic' !important;
    font-size:20px;
}

.c2dl-download-icon:before {
    content: "\ea01";
}

/*
github-icon
*/

.c2dl-github-icon {
    font-family: 'c2dl-iconic' !important;
    font-size:20px;
}

.c2dl-github-icon:before {
    content: "\ea03";
}

/*
gitlab-icon
*/

.c2dl-gitlab-icon {
    font-family: 'c2dl-iconic' !important;
    font-size:20px;
}

.c2dl-gitlab-icon:before {
    content: "\ea04";
}

/*
links
*/

.c2dl-data-link {
    min-width: 36px;
    padding: 0 0;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    margin: 0.2em;
}

.c2dl-link-icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-grow: 0;
    flex-shrink: 0;
}

.c2dl-entry-description {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
    color: var(--entrylist-description-foreground);
    display: block;
    padding: 0;
}

.c2dl-entry-codename {
    @extend .c2dl-entry-description;
    font-style: italic;
}

.c2dl-entry-authors {
    font-style: italic;
}
.c2dl-entry-stars {}

.c2dl-entry-tags {
    @extend .c2dl-entry-description;
    font-style: italic;
}

.c2dl-data-link .c2dl-link-icon {
    transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--base-link-foreground);
}

.c2dl-data-link:hover .c2dl-link-icon, .c2dl-data-link:focus .c2dl-link-icon {
    color: var(--base-link-hover-foreground);
}

.c2dl-list-entry {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    display: flex;
    min-height: 48px;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 16px;
    color: var(--entrylist-foreground);
}

.c2dl-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    order: 0;
    flex-grow: 2;
    line-height: 20px;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04em;
}

.c2dl-entry-content {
    display: flex;
    flex-direction: column;
}

#mod-list {
    margin: 0;
    padding: 0;
}

.c2dl-entry-links {
    display: flex;
    flex-direction: row;
}

/*
animation
*/

@media (prefers-reduced-motion: reduce) {
    .c2dl-data-link {
        transition: none;
    }

    .c2dl-data-link .c2dl-link-icon .svg-fg {
        transition: none;
    }
}
