.home-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    align-items: stretch;
    padding: 8px;
}

.home-main {
    width: 66%;
    min-width: 380px;
    margin: 8px;
}

.home-sidebar {
    width: 33%;
    min-width: 380px;
    margin: 8px;
}

@media screen and (max-width: 450px) {
    .c2dl-social-sideinfo {
        display: none;
    }
}

@media screen and (max-width: 839px) {
    .home-content {
        flex-direction: column;
    }

    .home-main {
        min-width: 310px;
        width: calc(100% - 16px);
    }

    .home-sidebar {
        min-width: 310px;
        width: calc(100% - 16px);
    }
}
