.c2dl-social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.c2dl-social {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    background: var(--social-background);
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 1rem 0 1rem;
    padding: 0;
    box-shadow: var(--social-shadow);
}

.c2dl-social-header {
}

.c2dl-social-container {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.c2dl-social-title {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
}

.c2dl-social-title-text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 0.2em 0;
}

.c2dl-social-title-subtext {
    color: var(--social-subtext);
}

.c2dl-social-sideinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.c2dl-social-sidetext {

}

.c2dl-social-nav {
    border-top: 1px solid var(--newscard-separator);
    font-size: 16px;
    line-height: normal;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
}

.c2dl-social-link {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--social-nav-foreground);
    text-transform: uppercase;
    text-decoration: underline;
}

.c2dl-social-link:hover, .c2dl-social-link:focus {
    text-decoration: none;
    color: var(--social-hover-foreground);
}

.c2dl-social-logo {
    width: 22px;
    height: 22px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.c2dl-social-cardtype-half {
    width: calc(50% - 0.6rem);
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    height: min-content;
    min-width: min-content;
}

/*
animation
*/

@media (prefers-reduced-motion: reduce) {
    .c2dl-social-link {
        transition: none;
    }
}

@media screen and (max-width: 839px) {
    .c2dl-social-cardtype-half {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        height: min-content;
        min-width: min-content;
    }
}
