.c2dl-news-content {
    display: block;
    border-top: solid 1px var(--news-separator);
    margin-top: 0.5em;
    padding-top: 1.5em;
    font-size: 1rem;
    font-family: "Merriweather", "Palatino Linotype", "Book Antiqua", Palatino, Georgia, "Times New Roman", Times, serif;
}

.c2dl-news-nav {
    display: flex;
    justify-content: center;
    border-top: solid 1px var(--news-separator);
    padding: 1em;
    margin-top: 2em;
}

.c2dl-social-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.c2dl-social {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    background: var(--social-background);
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 1rem 0 1rem;
    box-shadow: var(--social-shadow);
}

.c2dl-social-header {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.c2dl-social-title {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
}

.c2dl-social-title-text {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 0.2em 0;
}

.c2dl-social-title-subtext {
    color: var(--social-subtext);
}

.c2dl-social-sideinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.c2dl-social-sidetext {

}

.c2dl-social-nav {
    border-top: 1px solid var(--newscard-separator);
    font-size: 16px;
    line-height: normal;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
}

.c2dl-social-link {
    background: transparent;
    border: none;
    border-radius: 2px;
    color: var(--social-nav-foreground);
    position: relative;
    height: 36px;
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
    background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}

.c2dl-social-link:hover, .c2dl-social-link:focus {
    color: var(--social-hover-foreground);
    background-color: var(--social-hover-background);
}

.c2dl-social-logo {
    width: 22px;
    height: 22px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.5rem;
}

.c2dl-social-github-logo {
    background: var(--social-github);
}

.c2dl-social-gitlab-logo {
    background: var(--social-gitlab);
}

.c2dl-social-reddit-logo {
    background: var(--social-reddit);
}

.c2dl-social-twitter-logo {
    background: var(--social-twitter);
}

.c2dl-social-discord-logo {
    background: var(--social-discord);
}
