.c2dl-team-keanu {
    background: url(/img/team/keanu.png);
    background-size: 100%;
}

.c2dl-team-2767 {
    background: url(/img/team/2767mr.jpg);
    background-size: 100%;
}

.c2dl-team-ac2pic {
    background: url(/img/team/ac2pic.png);
    background-size: 100%;
}

.c2dl-team-ichiki {
    background: url(/img/team/ichiki.png);
    background-size: 100%;
    background-position: center;
}

.c2dl-team-streetclaw {
    background: url(/img/team/streetclaw.png);
    background-size: 100%;
}
