.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 1rem;
    position: relative;
}

.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.mdl-card__title {
    color: #ffffff;
}

.mdl-card__accent {
    background: #ff9800;
}

.mdl-card__c2dl {
    background: url(/res/img/news/c2dl.png);
    background-size: 100%;
}

.mdl-card__github {
    background: url(/res/img/news/github.svg);
    background-size: 100%;
    background-position: center;
}
