.mdl-card {
    width: 320px;
    height: 320px;
    float: left;
    margin: 1rem;
    position: relative;
}

.mdl-card:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.mdl-card__title {
    color: #ffffff;
}

.mdl-card__keanu {
    background: url(/res/img/team/keanu.png);
    background-size: 100%;
}

.mdl-card__2767 {
    background: url(/res/img/team/2767mr.jpg);
    background-size: 100%;
    color: #000000;
}

.mdl-card__ac2pic {
    background: url(/res/img/team/ac2pic.png);
    background-size: 100%;
    color: #000000;
}

.mdl-card__ichiki {
    background: url(/res/img/team/ichiki.png);
    background-size: 100%;
}

.mdl-card__streetclaw {
    background: url(/res/img/team/streetclaw.png);
    background-size: 100%;
}
